@import '/Users/Marion/dev/wdi/spikes/test/vendor/Skeleton-2.0.4/css/normalize.css';
@import '/Users/Marion/dev/wdi/spikes/test/vendor/Skeleton-2.0.4/css/skeleton.css';


.hero-thumb{
  border-radius: 100%;
  width: 100%;
}

.nemesis-thumb{
  border-radius: 100%;
  width: 100%;
}
