<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>


<body>

  <script>

    console.log('script loaded')

    var app = app || {};

    app.getFighter = function getFighter() {
      $.ajax({
        method: 'get',
        url: 'http://gateway.marvel.com:80/v1/public/characters/1009421?apikey=195de66a5cefd39b309c2eb0ca7463f1',
        dataType: 'json',
        success: function(data){
          console.log(data);
          id = data.data.results[0].id;
          name = data.data.results[0].name;
          description = data.data.results[0].description;
          path = data.data.results[0].thumbnail.path;
          extension = data.data.results[0].thumbnail.extension;
          thumbnail = path + "." + extension;
        }
      })
    };


    // function getStars() {
    //   $.ajax({
    //     method: 'get',
    //     url: 'https://api.data.gov/nasa/planetary/apod?concept_tags=True&api_key=X5ciO36jwKluS3gTHhZXX5we0f5l2YfRdn7UKD2d',
    //     success: function(data){
    //       console.log(data)
    //     }
    //   })
    // };



  </script>

</body>

</html>
