<!-- Marvel: Tap It - Design Mockup -->

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Users/Marion/dev/wdi/spikes/test/styles/application.scss" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/Users/Marion/dev/wdi/spikes/test/assets/javascript.js">
    </script>
  </head>

  <body id="wrapper">


    <nav>
      <div class="logo">
        <h1>Marvel: TapiT</h1>
      </div>
      <!-- <ul>
        <li><a href='/login'>Login</a></li>
      </ul> -->
    </nav>


    <div class="container">

      <!-- start row for player selections -->
        <div class="row selected">
        <!-- start hidden div for player 1 selection -->
          <div class="six column selected-hero">
            <img class="hero" data-character="1009189" src="/Users/Marion/dev/wdi/spikes/test/assets/images/black_widow.jpg"/>
            <div class="hero-bio">
              <p>THIS IS DATARS for selection 1</p>
            </div>

          </div>
        <!-- end hidden div for player 1 selection -->

          <!-- start hidden div for player 2 selection -->
            <div class="six column selected-nemesis">
              <img class="nemesis" data-character="1009189" src="/Users/Marion/dev/wdi/spikes/test/assets/images/black_widow.jpg"/>
              <div class="nemesis-bio">
                <p>THIS IS DATARS for selection 2</p>
              </div>
            </div>
          <!-- end hidden div for player 2 selection -->
        </div>
        <!-- end row for player selections -->


      <div id="hero-list">
      <!-- start row 1 of heroes -->
        <div class="row">
          <div class="four columns">
            <img class="hero-thumb" data-character="1009189" src="/Users/Marion/dev/wdi/spikes/test/assets/images/black_widow.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009220" src="/Users/Marion/dev/wdi/spikes/test/assets/images/captain_america.jpg"/>
          </div>

          <div class="four columns">
            <img class ="hero-thumb" data-character="1009288"  src="/Users/Marion/dev/wdi/spikes/test/assets/images/elektra.jpg"/>
          </div>
        </div>
      <!-- end row 1 of heroes -->

      <!-- start row 2 of heroes -->
        <div class="row">
          <div class="four columns">
            <img class="hero-thumb" data-character="1009351" src="/Users/Marion/dev/wdi/spikes/test/assets/images/hulk.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009368" src="/Users/Marion/dev/wdi/spikes/test/assets/images/iron_man.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009629" src="/Users/Marion/dev/wdi/spikes/test/assets/images/storm.jpg"/>
          </div>
        </div>
      <!-- end row 2 of heroes -->

      <!-- start row 3 of heroes -->
        <div class="row">
          <div class="four columns">
            <img class="hero-thumb" data-character="1009664" src="/Users/Marion/dev/wdi/spikes/test/assets/images/thor.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009718" src="/Users/Marion/dev/wdi/spikes/test/assets/images/wolverine.jpg"/>
          </div>
        </div>
      <!-- end row 3 of heroes -->
      </div>  <!-- end div id="hero-list" -->


      <div id="nemesis-list">

      <!-- start row 1 of nemeses -->
        <div class="row">
          <div class="four columns">
              <img class="nemesis-thumb" data-character="1009156" src="/Users/Marion/dev/wdi/spikes/test/assets/images/apocalypse.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009227" src="/Users/Marion/dev/wdi/spikes/test/assets/images/carnage.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009281" src="/Users/Marion/dev/wdi/spikes/test/assets/images/doctor_doom.jpg"/>
          </div>
        </div>
      <!-- end row 1 of nemeses -->

      <!-- start row 2 of nemeses -->
        <div class="row">
          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009407" src="/Users/Marion/dev/wdi/spikes/test/assets/images/loki.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009417" src="/Users/Marion/dev/wdi/spikes/test/assets/images/magneto.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009421" src="/Users/Marion/dev/wdi/spikes/test/assets/images/mandarin.jpg"/>
          </div>
        </div>
      <!-- end row 2 of nemeses -->

      <!-- start row 3 of nemeses -->
        <div class="row">
          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009465" src="/Users/Marion/dev/wdi/spikes/test/assets/images/mystique.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009685" src="/Users/Marion/dev/wdi/spikes/test/assets/images/ultron.jpg"/>
          </div>
        </div>
      <!-- end row 3 of nemeses -->
      </div>  <!-- end div id="nemesis-list" -->
    </div>  <!-- end div class="container" -->

    <!-- <footer>
      <p>oh my stars and garters!</p>
    </footer> -->

  </body>
</html>
