<!-- Marvel: Tap It - Design Mockup -->

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Users/Marion/dev/wdi/spikes/test/styles/application.scss" media="screen">
  </head>

  <body id="wrapper">


    <nav>
      <div class="logo">
        <h1>Marvel: TapiT</h1>
      </div>
      <!-- <ul>
        <li><a href='/login'>Login</a></li>
      </ul> -->
    </nav>


    <div class="container">

      <div class="row">

         <div class='hero-list'>
          <div class="one column"></div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/wolverine.jpg"/>
          </div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/thor.jpg"/>
          </div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/iron_man.jpg"/>
          </div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/captain_america.jpg"/>
          </div>

          <div class="one column"></div>
        </div>

        <div class='nemesis'>
          <div class="one column"></div>

          <div class="one column">
            <img class ='nemesis-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/ultron.jpg"/>
          </div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/mystique.jpg"/>
          </div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/mandarin.jpg"/>
          </div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/magneto.jpg"/>
            </div>

          <div class="one column"></div>
        </div>
      </div>

      <div class="row">
         <div class='hero-list'>
          <div class="one column"></div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/black_widow.jpg"/>
          </div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/hulk.jpg"/>
          </div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/elektra.jpg"/>
          </div>

          <div class="one column">
            <img class ='hero-thumb'  src="/Users/Marion/dev/wdi/spikes/test/assets/images/storm.jpg"/>
          </div>

          <div class="one column"></div>
        </div>

        <div class='nemesis'>
          <div class="one column"></div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/magneto.jpg"/>
          </div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/doctor_doom.jpg"/>
          </div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/carnage.jpg"/>
          </div>

          <div class="one column">
            <img class ='nemesis-thumb' src="/Users/Marion/dev/wdi/spikes/test/assets/images/apocalypse.jpg"/>
          </div>

          <div class="one column"></div>
        </div>

      </div>

    </div>


    <footer>
      <h2>oh my stars and garters!</h2>
    </footer>

  </body>
</html>
